.nav_background {
    position: sticky;
    width: 100%;
    height: 50px;
    top: 0;
    background: rgb(255, 100, 247);
}

nav {
    margin: 0;
    padding: 0;
}

.navbar_tab {
    color: white;
    padding: 15px;
    border-right: 1px solid rgb(0, 0, 0);
    float: left;
    text-decoration: none;
}

video {
    width: 100%;
    height: auto;
}